{{#partial "content"}}
    <h2 class="text-center mt-3" style="color:white;"></h2>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6" style="">
                <div class="card p-3">
                    <h5 class="text-center">Create hero</h5>
                    <form action="/success" method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Enter name" required>
                        </div>
                        <div class="form-group">
                            <label for="squad">Squad name</label>
                            <input type="text" name="squadTeam" class="form-control" id="squadTeam" placeholder="Enter squad name" required>
                        </div>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="number" name="age" required class="form-control" id="age" placeholder="Enter age ">
                        </div>
                        <div class="form-group">
                            <label for="powers">Special power</label>
                            <input type="text" name="powers" required class="form-control" id="powers" placeholder="Enter Heroes' Powers ">
                        </div>
                        <div class="form-group">
                            <label for="weakness">Weakness</label>
                            <input type="text" name="weakness" required class="form-control" id="weakness" placeholder="Enter Heroes' Weakness ">
                        </div>
                        <div class="text-center">
                            <button class="btn btn-outline-success"><i class="fa fa-plus "></i>
                                Add hero</button>
                            <button type="submit" class="btn btn-default">Add new Hero </button>
                        </div>
                    </form>
                </div>
    <div class="" style="">
        <div>
            <div class="row">
            <div class="col-md-12 mt-2">
            <div class="card p-4">
    {{#if hero}}
        <h3 class="text-center" id="hero-title" style="color:red;">CURRENT HEROES:</h3>

    {{#each hero}}
    <ul>
        <li>Name : {{name}}</li>
        <li>Age : {{age}}</li>
        <li>Weakness :  {{powers}}</li>
        <li>Powers :{{weakness}}</li>
        <li>Squad  :{{squadTeam}}</li>
        <li>Created At : {{createdAt}}</li>
    </ul>
    <div class="text-center">
        <p><a href="/hero/{{id}}">Add to Squad</a> </p>
    </div>
    {{/each}} v
    {{else}} <!--no hero!-->
    </div>
    </div>
    {{/if}}
    </div>
    </div>
    </div>
        </div>
    </div>
    </div>
{{/partial}}

{{> layout.hbs}}